# English Quest
NEXT_PUBLIC_APP_NAME=English Quest
NEXT_PUBLIC_APP_DESCRIPTION=Duolingo-inspired English learning app with Chinese vocabulary support
TRANSLATION_API_URL=https://api.mymemory.translated.net/get
